*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: 17px; */
}
.active{
    
}
.main-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: linear-gradient( 
    45deg , #000, #000000bd);
    width: fit-content;
    padding: 13px 20px;
    margin-top: 20px;
    transition: .3s;
    border-radius: 3px;
    position: relative;
}
.main-button:hover{
    box-shadow: 6px 8px 8px -4px #746f6fbd;
}
body{
    font-family: 'Righteous', cursive;
    scroll-behavior: smooth;

}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-right:15px ;
    padding-left:15px ;
    max-width: 100%;
}

/* start scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #17141430;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#00000091;
}
::-webkit-scrollbar-track{
    background-color: #ffffff9e;
    box-shadow:0 0 10px #b5abab inset;
}
/* end scrollbar */

@media(min-width:768px){
    .container{
        width: 750px;
    }
}@media(min-width:992px){
    .container{
        width: 970px;
    }
}@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.uppercase{
    text-transform: uppercase;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main-title{
    width: fit-content;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    position: relative;
}
.main-title h2{
    color: #ddd;
    font-size: 70px;
    text-align:center;
    margin-bottom:90px ;
    position: relative;
    
}
@media(max-width:767px){
    .main-title h2{
        font-size: 50px;
    }
}
.main-title::before,.main-title::after,.main-title h2::before{
    content: "";
    position: absolute;
    height:2px;
    left: 50%;
    transform: translateX(-50%);
    background: #8f8f8f;
}
.main-title::before{
    width: 30%;
    bottom: -20px;
}
.main-title::after{
    width: 20%;
    bottom: -28px;
}
.main-title h2::before{
    width: 10%;
    bottom: -35px;
}
header{
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 9%),
                0 12px 64px 0 rgb(169 169 170 / 23%);
    position: fixed;
    background: #fff;
    z-index: 50;
    width: 100%;
    padding: 10px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo h2{
    font-size: 28px;
    cursor: pointer;
    position: relative;
}
header .container .logo h2::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 50%;
    background-color: rebeccapurple;
    bottom: 0;
    left: 0;
    transition: width 0.3s;

}
header .container .logo h2:hover::before{
    width: 100%;
}
header .container .logo h2 span{
    font-size: 35px;
}
header .container .nav {
    position: relative;
}
header .container .nav i {
    display: none;
}
header .container .nav ul{
    display: flex;
}

@media(max-width:992px){
    header .container .nav ul{
    display: none;
    justify-content: center;
    background: #fff;
    position: absolute;
    width: 700px;
    right: 0px;
    top: 43px;
    padding: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: .3s;
    z-index: 5;   
    box-shadow:0 4px 24px 0 rgb(0 0 0 / 26%), 0 12px 64px 0 rgb(228 228 241 / 23%);
    border-bottom: 4px solid #9c27b0;
}
    .menu-show{
        display: flex !important;
    }
    header .container .nav i{
        display: block;
        font-size: 25px;
    }
    header .container .nav ul li:hover{
        padding: 10px 0;
    }
}


@media(max-width:768px){
    header .container .nav ul{
        flex-direction: column;
        width: 600px;
}
}
@media(max-width:576px){
    header .container .nav ul{
        width: 350px;
    }
}
header .container .nav ul li{
    margin: 0 10px;
    transition: 0.3s;
}
header .container .nav ul li:hover{
    padding-left: 10px;
}
header .container .nav ul li a{
    display: block;
    padding: 10px;
    letter-spacing: 0.5px;
    color: #584f4ffc;
    font-size: 17px;
    font-family:"Righteous";
    transition: 0.3s;
    border-radius: 10px;
}
header .container .nav ul li a:hover{
    color: black;
    box-shadow: 2px 2px 5px 1px #333;
}
.slider{
    padding: 20px ;
    position: relative;
    height: 100vh;
    background-image:url('../images/background3.webp');
    background-size: cover;
    background-position: center;
}
.slider::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
}
.slider .title{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    letter-spacing: 1px;
    z-index: 3;
}
.slider .title h2{
    font-size: 45px;
    color: #fff;
    text-shadow: 0px 7px 6px #000;
    max-width: 780px;
}
.slider .title span{
    display: block;
    font-size: 18px;
    color: #fff;
    margin: 15px 0;
    text-shadow: 3px 5px 5px #000;
}
/* About-us*/
.about {
    padding-top: 80px;
    padding-bottom: 50px;
}
.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:768px){
    .about .container{
        flex-direction: column;
        align-items: center;
    }
}
.about .container .image{
    width: 40%;
    position: relative;
}
.about .container .image::before{
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    height: 90%;
    width: 95%;
    z-index: -1;
    transform: translate(-18px ,70px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 100px;
    border: 1px solid #c0aaaa;
    transition: 0.3s;
}
@media(max-width:768px){
    .about .container .image::before{
        top: -25px;
        left: 3px;
        height: 88%;
    }
}
.about .container .image:hover:before{
    background:#d1a2ff;
}
@media(max-width:768px){
    .about .container .image{
        width: 90%;
    }
}
@media(min-width:992px){
    .about .container .image{
        width: 43%;
    }
}
.about .container .image img{
    width: 100%;
    border-bottom-left-radius: 100px;
}
.about .container .info{
    position: relative;
    height: 400px;
    width: 45%;
}
@media(max-width:768px){
    .about .container .info{
        width: 90%;
        text-align: center;
    }
}
.about .container .info .desc{
    position: absolute;
    top: 20%;
}
.about .container .info .desc span{
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.about .container .info .desc h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.about .container .info .desc p{
    color: #333;
    line-height: 1.5;
}
@media(max-width:768px){
    .about .container .info .desc a{
        margin-left:auto ;
        margin-right:auto ;
    }
}
/* project */
.project{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background: #eee;
}
.project a{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;

}
.project .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.project .container .box{
    background-color: #fff;
    border-radius: 6px;
    transition: .3s;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}
.project .container .box img{
    width: 100%;
}
.project .container .box .desc{
    padding: 15px;
}
.project .container .box .desc h3{
    margin-bottom: 10px;
    letter-spacing: 00.5px;
    font-size: 20px;
    text-align: center;
}
.project .container .box .desc  i{
    color: #ffc107;
    font-size: 21px;
    margin-right: 3px;
}
.project .container .box .desc a{
    display: block;
    /* color: #fff;
    background: linear-gradient(
-45deg
, #000, #000000ab);
    width: fit-content;
    padding: 13px 20px;
    margin-top: 20px;
    transition: .2s;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 6px; */
}
.project .container .box .desc a:hover{
    box-shadow: 0px 8px 6px -4px #0000008f;
}

/*Services*/
.services{
    padding-top: 50px;
    padding-bottom: 50px;
}
.services .container .prices{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 30px;
}
.services .container .box{
    text-align: center;
    background-color: #eee;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: color 0.3s;
}
/* .services .container .box:hover{
} */
.services .container .box::before{
    content: "";
    position: absolute;
    background: linear-gradient( 
    -46deg
    , #8641ff, #57359896, #e4dbdb);
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    z-index: -10;
    transition: height 0.3s
}
.services .container .box:hover::before{
    height: 100%;
}
.services .container .box > h2{
    text-transform: uppercase;
    color: #000;
    margin: 25px 0 20px 0;
    font-weight: bold;
    font-size: 25px;
}
.services .container .box > h2 i{
    color: #ffc103;
    margin-top: 20px;
}
.services .container .box .number{
    padding: 12px;
    border: 2px solid #ddd;
    width: 170px;
    height: 70px;
    margin: 15px auto;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.services .container .box .number span{
    color:rebeccapurple;
    position: relative;  
    font-size: 35px;
    font-weight: 900;
}
.services .container .box .number span::before{
    content: "DH";
    position: absolute;
    top: -7px;
    right: -26px;
    font-size: 15px;

}
.services .container .box span.cond{
    display: block;
    padding: 20px 25px;
    position: relative;
    width: fit-content;
    margin:  5px auto;
    font-size: 17px;
    letter-spacing: 0.5px;
}
.services .container .box span.cond::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #ddd;
    border-bottom-left-radius: 12px;
    width: 70%;
    height: 20px;
    left: 16px;
    bottom: 2px;
}
.services .container .box a{
    display: block;
    width: 143px;
    margin: 30px auto;
    padding: 15px 0;
    background: #673ab7de;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 17px;
    transition: .3s;
}
.services .container .box:hover a{
    border-radius: 50%;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #8641ff;
}


/* footer */
footer{
    padding-top: 50px ;
    padding-bottom: 50px ;
    background-color: #512da8;
    overflow: hidden;
}
footer .container{
    display: flex;
    justify-content: space-between;

}
@media(max-width:768px){
    footer .container{
        flex-direction: column;
        gap: 20px;
        
    }   
}
footer .container form{
    width: 50%;
}
@media(max-width:768px){
    footer .container form{
        width: 100%;
    }   
}

footer .container form input{
    display: block;
    margin-bottom: 20px;
    height: 40px;
    
}
footer .container form textarea{
    height: 140px;
}
footer .container form textarea,footer .container form input{
    outline: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    font-family:"Righteous";
}
footer .container form textarea::placeholder,footer .container form input::placeholder{
    color: #a09d9d;
}
footer .container .me{
    width: 45%;
}
@media(max-width:768px){
    footer .container .me{
        width: 100%;
        order: -1;
    }   
}
footer .container .me .image{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
footer .container .me .image img{
    width: 100%;
    border-radius: 50%;
}
footer .container .me .contact{
    display: flex;
    flex-direction: column;
}
footer .container .me .contact .sociale{
margin-top: 15px;
    margin-right:auto ;
    margin-left:auto ;
}
@media(max-width:768px){
    footer .container .me .contact .sociale{
        display: flex;
    }
}
footer .container .me .contact .sociale h3{
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
footer .container .me .contact .sociale a{
    display: flex;
    align-items: center;
    color:#fff;
    margin-bottom: 10px;
}

footer .container .me .contact .sociale a i{
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 5px;
    transition: color .3s;
}
@media(max-width:767px){
    footer .container .me .contact .sociale a span{
        display: none;
    }    
}
footer .container .me .contact .sociale a span.fb{
    color: #2196f3;
}
footer .container .me .contact .sociale a span.inst{
    color: rgb(226, 69, 174);
}
footer .container .me .contact .sociale a span.wtsp{
    color: rgb(0, 255, 85);
}
footer .container .me .contact .sociale a i.fb{
    color: blue;
}
footer .container .me .contact .sociale a:hover i.fb{
    background-color: blue;
}
footer .container .me .contact .sociale a i.inst{
    color: rgb(226, 69, 174);
}
footer .container .me .contact .sociale a:hover i.inst{
    background-color: rgb(226, 69, 174);
}
footer .container .me .contact .sociale a i.wtsp{
    color: rgb(0, 255, 85);
}
footer .container .me .contact .sociale a:hover i.wtsp{
    background-color: rgb(0, 255, 85);
}
footer .container .me .contact .sociale a:hover i{
 color: #fff;
}

.more{
    padding-top: 100px;
    padding-bottom: 100px;
}
.more .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.more .container > div{
    background-color: #f3f3f3;
    padding: 20px;
    line-height: 1.6;
    border-radius: 6px;
}

.show{
    display: none;
}